*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(8,59,76);
}
h1{
    color: white;
    font-size: 50px;
    margin: 20px;
}
/* Utility */
.container{
    max-width: 950px;
    margin: 0 auto;
}
.block-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block-list li{
    width: 100px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    margin: 10px;
}
.bg-blue{
    background-color: rgb(19,137,178);
}
.bg-yellow{
    background-color: rgb(255,209,102);
}
.bg-aqua{
    background-color: rgb(12,214,161);
}
.bg-pink{
    background-color: rgb(240,70,111);
}